<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="www.xinkui.com.restaurant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".network.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="奶爸商家版"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".user.UserLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.DishManage"></activity>
        <activity android:name=".user.UserModify"></activity>
        <activity android:name=".activity.DishStateDetail"></activity>
        <activity android:name=".activity.RechargeManage"></activity>
        <activity android:name=".activity.MainOderSpecific"></activity>
        <activity android:name=".activity.DishSpecialListDetail"></activity>
        <activity android:name=".activity.DishSpecial"></activity>
        <service
            android:name=".service.SqlQueryService"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.xinxing.service" />
            </intent-filter>
        </service>
    </application>

</manifest>